VITE_CHAIN_ID=10143
VITE_RPC_URL=/rpc/monad
VITE_STABLECOIN_ADDRESS=0xYourStablecoinAddress
VITE_PROTOCOL_CONTROL_ADDRESS=0xYourProtocolControlAddress
VITE_PACT_VAULT_ADDRESS=0xYourPactVaultAddress
VITE_PACT_MANAGER_ADDRESS=0xYourPactManagerAddress
VITE_SUBMISSION_MANAGER_ADDRESS=0xYourSubmissionManagerAddress
VITE_PACT_RESOLUTION_MANAGER_ADDRESS=0xYourPactResolutionManagerAddress
VITE_USERNAME_REGISTRY_ADDRESS=0xYourUsernameRegistryAddress
VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
MONAD_RPC_UPSTREAM_URL=https://testnet-rpc.monad.xyz
VITE_API_UPSTREAM_URL=http://127.0.0.1:8787
CATBOX_UPLOAD_UPSTREAM_URL=https://catbox.moe
