ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
PACT_ADMIN_ADDRESS=0xYourAdminWallet
PACT_STABLECOIN_ADDRESS=0x3600000000000000000000000000000000000000
PACT_MIN_STAKE_UNITS=1000000
PACT_FEE_RECIPIENT=0xYourFeeRecipient
PACT_FEE_BPS=0
